.header-wrapper {
	background: transparent;
	height: 90px;
	width: 100%;
	// border: 1px solid red;
	box-sizing: border-box;
	position: relative;
	z-index: 99;
	transition: background .3s cubic-bezier(.215, .61, .355, 1), border .45s cubic-bezier(.215, .61, .355, 1);
	.header {
		max-width: $marginWidth;
		width: 100%;
		padding: 0 24px;

		// padding: 0 10px;
		margin: auto;
		display: flex;
		position: relative;

		-webkit-transition: -webkit-transform .45s cubic-bezier(.215, .61, .355, 1);
		transition: -webkit-transform .45s cubic-bezier(.215, .61, .355, 1);
		transition: transform .45s cubic-bezier(.215, .61, .355, 1);
		transition: transform .45s cubic-bezier(.215, .61, .355, 1),
			-webkit-transform .45s cubic-bezier(.215, .61, .355, 1);

		.header-logo {
			// flex: 1;
			// display: flex;

			display: flex;
			// margin: 15px 0;
			height: 90px;
			position: relative;
			z-index: 1000;
			opacity: 1;
			img {
				height: 90px;
				background-size: cover;
				vertical-align: middle;
			}
			.logo-title {
				position: relative;
				height: 90px;

				// font-family: "Poppins", sans-serif;
				h3 {
					margin: 0;
					padding: 0;
					position: absolute;
					color: #fff;
					// transform: translate(-50%, -50%);
					font-size: 6em;
					line-height: 90px;
				}
			}
			.logo-title h3:nth-child(1) {
				color: transparent;
				-webkit-text-stroke: 2px $activeColor;
			}
			.logo-title h3:nth-child(2) {
				color: $activeColor;
				animation: animate 4s ease-in-out infinite;
			}
			@keyframes animate {
				0%,
				100% {
					clip-path: polygon(
						0% 45%,
						15% 44%,
						32% 50%,
						54% 60%,
						70% 61%,
						84% 59%,
						100% 52%,
						100% 100%,
						0% 100%
					);
				}
				50% {
					clip-path: polygon(
						0% 60%,
						16% 65%,
						34% 66%,
						51% 62%,
						67% 50%,
						84% 45%,
						100% 46%,
						100% 100%,
						0% 100%
					);
				}
			}
		}
		.web-nav {
			// display: flex;
			// align-items: center;
			// min-height: 90px;
			line-height: 90px;
			position: absolute;
			right: 24px;
			top: 0;
			height: 90px;
			ul {
				display: inline-block;
				overflow: hidden;
				position: relative;
				li {
					float: left;
					margin-left: 48px;
					-webkit-transition: margin .3s;
					transition: margin .3s;
					a {
						display: block;
						height: 100%;
					}
				}
				li.lang-btn {
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-webkit-align-items: center;
					-ms-flex-align: center;
					align-items: center;
					height: 90px;
					margin-right: 12px;
					position: relative;
					button {
						border-color: #656669;
						background: none; // height: 60px; // margin-top: 15px;
						border-radius: 6px;
						padding: 5px;
					}
					button:hover,
					button:active {
						border-color: #656669;
					}
				}
				li.lang-btn:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					height: 16px;
					width: 1px;
					background: #656669;
					-webkit-transition: background .45s cubic-bezier(.215, .61, .355, 1);
					transition: background .45s cubic-bezier(.215, .61, .355, 1);
					opacity: .75;
					left: -24px;
				}
			}
			a,
			button {
				width: 100%;
				font-size: 14px;
				display: block;
				color: #656669;
				letter-spacing: .5px;
				-webkit-transition: color .45s cubic-bezier(.215, .61, .355, 1),
					border-color .45s cubic-bezier(.215, .61, .355, 1);
				transition: color .45s cubic-bezier(.215, .61, .355, 1),
					border-color .45s cubic-bezier(.215, .61, .355, 1);
				text-decoration: none;
			}
			a:hover,
			button:hover,
			a:active,
			button:active {
				color: #fff;
			}
			a[disabled],
			button[disabled] {
				color: #fff;
			}
			// div {
			// color: #ddd; // text-transform: uppercase; // /* 大写 */
			// font-size: 20px; // /* 字号 */ // padding: 12px 20px; // border-radius: 4px; // /* 圆角 */
			// transition: .3s linear; /* 过渡时间 */ // cursor: pointer; // }
			// div:hover {
			// background: #fff; // color: #2f3640; // transform: scale(1.1); // /* 放大 */ // }
		}
		.phone-nav,
		.lang-button {
			display: none;
		}
	}
}
@media only screen and (max-width: 767.99px) {
	.header-wrapper {
		.header {
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			.header-logo {
				.logo-title {
					h3 {
						font-size: 2em;
					}
				}
			}
			.web-nav {
				display: none;
			}
			.phone-nav {
				width: 16px;
				height: 14px;
				cursor: pointer;
				z-index: 1;
				position: absolute;
				right: 24px;
				top: 0;
				bottom: 0;
				margin: auto;
				display: block;
				.phone-nav-bar {
					position: relative;
					z-index: 1000;
					em {
						display: block;
						width: 100%;
						height: 2px;
						background: #fff;
						margin-top: 4px;
					}
				}
				.phone-nav-bar:first-child {
					margin-top: 0;
				}
				.phone-nav-text-wrapper {
					position: fixed;
					width: 100%;
					height: 100vh;
					overflow: hidden;
					top: 0;
					left: 0;
					opacity: 0;
					display: block;
					pointer-events: none;
					padding-top: 36px;
					font-size: 18px;
					background: #070b20;
					text-align: left;
					ul {
						margin-top: 100px;
						li {
							margin: 40px 0 40px 5%;
							a {
								color: #fff;
							}
						}
						li > :only-child {
							margin-left: 37px;
						}
						li.queue-anim-leaving {
							position: relative !important;
							width: auto;
						}
					}
				}
			}
		}
	}
	.open {
		.header {
			.header-logo {
			}
			.phone-nav {
				.phone-nav-bar {
					em:first-child {
						transform: translate(0px, 6px) rotate(45deg);
					}
					em:nth-child(2) {
						opacity: 0;
					}
					em:nth-child(3) {
						transform: translate(0px, -6px) rotate(-45deg);
					}
				}
				.phone-nav-text-wrapper {
					pointer-events: auto;
					opacity: 1;
				}
			}
		}
	}
}
